.ly-default {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: var(--margin) repeat(2, 1fr) var(--margin);
    grid-template-rows: var(--margin) min-content repeat(2, min-content) 1fr  var(--margin);
    row-gap: var(--margin);

    @media (--for-mobile-landscape-up) {
        grid-template-columns: var(--margin) repeat(3, minmax(var(--margin), 13rem)) 1fr;
        grid-template-rows: var(--margin) repeat(3, auto) auto 1fr var(--margin);
        column-gap: calc(var(--margin)*2);
    }

    header,
    main {
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        @media (--for-mobile-landscape-up) {
            row-gap: var(--margin);
        }
    }

    header,
    main,
    footer {
        grid-column: 2 / 4;
    }

    header {
        grid-row: 2/3;
        align-items: center;
        @media (--for-mobile-landscape-up) {
            grid-column: 3 / 5;
            grid-row: 1 / 4;
        }
    }

    main {
        grid-row: 3 / 5;
        @media (--for-mobile-landscape-up) {
            grid-column: 3 / 5;
            grid-row: 4 / 6;
        }
    }

    footer {
        grid-row: 5 / 6;
        align-self: end;
        @media (--for-mobile-landscape-up) {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            align-self: start;
        }
    }

    .logo {
        @media (--for-mobile-landscape-up) {
            grid-column: 1 / 4;
            grid-row: 3 / 4;
            align-self: end;
            padding-block-end: calc(var(--margin) * 3);
        }
    }

    .nav {
        grid-column: 2 / 3;
        align-self: start;
        ul {
            justify-content: flex-end;
        }
        @media (--for-mobile-landscape-up) {
            padding-block-end: calc(var(--margin) * 9);
            grid-column: 1/4;
            grid-row:2 / 3;
            ul{
                justify-content: flex-start;
            }
        }
    }

    .description,
    .projects {
        grid-column: 1 / -1;
        @media (--for-mobile-landscape-up) {
            grid-column: 1 / 3;
        }
    }
}