:root {
  &[data-theme="light"] {
    color-scheme: light;
    --bg-color: hsl(0, 0%, 100%);
    --fg-color: hsl(0, 0%, 5%);
    --fg-color-light: color-mix(
      in srgb, var(--fg-color) 10%, var(--bg-color)
    );
    --fg-color-medium: color-mix(
      in srgb, var(--fg-color)  60%, var(--bg-color)
    );
    --accent-color: var(--fg-color);
    --accent-color-hover: color-mix(
      in srgb, var(--fg-color) 60%, var(--bg-color)
    );
  }
  &[data-theme="dark"] {
    color-scheme: dark;
    --fg-color: hsl(0, 0%, 90%);
    --bg-color: hsl(0, 0%, 12%);
    --fg-color-light: color-mix(
      in srgb, var(--fg-color) 10%, var(--bg-color)
    );
    --fg-color-medium: color-mix(
      in srgb, var(--fg-color)  60%, var(--bg-color)
    );
    --accent-color: var(--fg-color);
    --accent-color-hover: color-mix(
      in srgb, var(--fg-color) 60%, var(--bg-color)
    );
  }

  --fs-caption: .875rem;
  --fs-body: 1rem;
  --fs-body-m: 2rem;
  --fs-title: clamp(2rem, 6vw, 6rem);

  --margin: 1rem;

  --ly-column-w: 13rem;
  --ly-column-h: var(--ly-column-w);
  --ly-gap: calc(var(--margin) / 2)
}

@custom-media --mobile (min-width: 320px);
@custom-media --for-mobile-landscape-up (min-width: 480px);
@custom-media --until-mobile (max-width: 600px);
@custom-media --until-tablet (max-width: 755px);
@custom-media --for-tablet-up (min-width: 601px);
@custom-media --for-tablet-landscape-up (min-width: 900px);
@custom-media --for-desktop-up (min-width: 1200px);