:root {
  --bg-color: hsl(0, 0%, 100%);
  /* --bg-color: hsl(0, 70%, 50%); */
  --fg-color: hsl(0, 0%, 5%);
  --fg-color-light: color-mix(
    in srgb, var(--fg-color) 10%, transparent
  );
  --accent-color: var(--fg-color);
  --accent-color-hover: color-mix(
    in srgb, var(--fg-color) 60%, transparent
  );

  --fs-body: 1rem;

  --margin: 1rem;
}

@custom-media --mobile (min-width: 320px);
@custom-media --for-mobile-landscape-up (min-width: 480px);
@custom-media --until-mobile (max-width: 600px);
@custom-media --until-tablet (max-width: 755px);
@custom-media --for-tablet-up (min-width: 601px);
@custom-media --for-tablet-landscape-up (min-width: 900px);
@custom-media --for-desktop-up (min-width: 1200px);