<ul class="keyboard">
    <li><button id="button1"><span>1</span></button></li>
    <li><button id="button2"><span>2</span></button></li>
    <li><button id="button3"><span>3</span></button></li>
    <li><button id="button4"><span>4</span></button></li>
    <li><button id="button5"><span>5</span></button></li>
    <li><button id="button6"><span>6</span></button></li>
</ul>