/* ==========================================================================
   Home
   ========================================================================== */

/**
 * Home page.
 */

.page-lang,
.page-footer {
    .font-size(13);
    a {
        color: @color-alt-dark;
        margin-right: .75em;
        border-bottom-color: @color-alt-dark;
        &:hover {
            color: @color-main;
            border-bottom-color: @color-main;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
