/* ==========================================================================
   Home
   ========================================================================== */

/**
 * Users common page.
 */

.page-lang {
    margin-bottom: 3em;
    .font-size(14);
    @media (min-width: @screen-s) {
        .font-size(16);
    }
    a {
        margin-right: .75em;
        &:last-child {
            margin-right: 0;
        }
    }
}

.footer {
    padding-top: 3em;
    padding-bottom: 6em;
    a {
        margin-right: .75em;
        &:last-child {
            margin-right: 0;
        }
    }
}
