/* ==========================================================================
   Home
   ========================================================================== */

/**
 * Home page.
 */

.page-lang,
.page-footer {
    .font-size(13);
    a {
        color: @color-alt-dark;
        margin-right: .75em;
        border-bottom-color: @color-alt-dark;
        &:hover {
            color: @color-main;
            border-bottom-color: @color-main;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.has-background-hover,
.has-background {
    .page-lang,
    .page-footer {
        a {
            color: @color-alt-medium;
            border-bottom-color: @color-alt-medium;
            &:hover {
                color: white;
                border-bottom-color: white;
            }
        }
    }
}
