*,
*:before,
*:after {
    box-sizing: border-box;
}

::selection {
    background: darken(@color-alt, 12%);
}

body {
    font-family: sans-serif;
    background-color: @color-alt-light;
    color: @color-main;
    letter-spacing: .02em;
}

h1 {
    .font-size(18);
    margin-top: 1.25em;
}

p {
    .font-size(14);
    line-height: 1.45em;
    margin-top: 0;
    @media (min-width: @screen-s) {
        .font-size(15);
        line-height: 1.5em;
    }
}

a {
    color: @color-main;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    &:visited {
        color: @color-alt-dark;
        border-bottom-color: @color-alt-dark;
    }
    &:hover {
        color: @color-main;
        border-bottom-color: @color-main;
        border-bottom-width: 2px;
    }
}
