/* ==========================================================================
   Variables
   ========================================================================== */

/**
 * Variables to use segundofdez.com
 */

/* Colors
   ========================================================================== */
@color-main: #003399;
@color-main-dark: darken(@color-main, 10%);

@color-alt: #81F5A2;
@color-alt-light: lighten(@color-alt, 10%);


/* Font weights based on Heebo
   ========================================================================== */
@fw-regular: 400;
@fw-bold: 700;

/* Media queries break points
   ========================================================================== */

/* xtra small, small, medium, large, xtra large */
@screen-xs: 320px;
@screen-s: 480px;
@screen-m: 800px;
@screen-l: 1024px;
@screen-xl: 1440px;


/* Paths
   ========================================================================== */

/**
 * Generic path to static on Scms-site
 *
 * Example LESS:
 *
 * background-image: url("@{path-site}/img/site.jpg");
 */
@path-site: "/public/img";
