
.keyboard-content {
    position: relative;
    /* z-index: 9999; */
    --br: 14px;
    padding: calc(var(--margin) / 1.5);
    border-radius: calc(var(--br) + calc(var(--margin) / 1.5));
    border: 1px solid var(--fg-color-light);
    background-color: var(--bg-color);
    @media (--for-desktop-up) {
        display: inline-flex;
        margin-block-start: calc(var(--margin) * 3);
    }
}
.keyboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--margin) * 3), 1fr));
    gap: calc(var(--margin) / 1.5);
    padding: calc(var(--margin) / 1.5);
    border-radius: var(--br) var(--br) 0 0;
    background-color: var(--fg-color-light);

    @media (--for-desktop-up) {
        display: inline-grid;
        grid-template-columns: repeat(3, minmax(calc(var(--margin) * 3.75), 1fr));
        border-radius: var(--br) 0 0 var(--br);
    }
    button {
        width: 100%;
        aspect-ratio: 1;
        border: none;
        background-color: var(--bg-color);
        color: var(--fg-color);
        border-radius: calc(var(--br) -  var(--margin) / 2);
        transition: background-color 250ms, color 250ms;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
        }
        &.is-active {
            background-color: var(--fg-color);
            color: var(--bg-color);
        }
    }
}


.keyboard-info {
    list-style-type: none;
    margin: 0;
    padding: calc(var(--margin) / 1.5) var(--margin);
    counter-reset: keyboard-counter;
    border: 1px solid var(--fg-color-light);
    border-radius: 0 0 var(--br) var(--br);
    column-count: 2;
    background-color: var(--bg-color);
    column-gap: 0;
    li {
        font-size: var(--fs-caption);
        color: var(--fg-color-medium);
        counter-increment: keyboard-counter;
        &:not(:nth-child(3n)) {
            margin-bottom: var(--margin);
        }
        &::before {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: calc(var(--margin) * 2);
            aspect-ratio: 1;
            content: counter(keyboard-counter);
            border: 1px solid var(--fg-color-light);
            border-radius: 4px;
            margin-right: calc(var(--margin) / 2);
          }
    }
    @media (--for-desktop-up) {
        border-radius: 0 var(--br) var(--br) 0;
    }
}