
.keyboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--margin) * 4), 1fr));
    gap: calc(var(--margin) / 2);
    margin-block: calc(var(--margin) * 3);
    button {
        width: 100%;
        aspect-ratio: 1;
        border: none;
        background-color: transparent;
        color: var(--fg-color-light);
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            aspect-ratio: 1;
            font-size: 1rem;
            border: 1px solid var(--fg-color-light);
            background-color: var(--bg-color);
            color: var(--fg-color);
            border-radius: 10px;
            transition: background-color 250ms, color 250ms;
        }
        &.is-active {
            span {
                background-color: var(--fg-color);
                color: var(--bg-color);
            }
        }
    }
}