html {
    background-color: var(--bg-color);
    font-weight: 600;
    line-height: 160%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    &:hover {
        color: var(--accent-color-hover);
    }
}

header, main {
    @media (--for-tablet-up) {
        padding-inline: calc(var(--margin) * 2);
        border-inline: 1px solid color-mix(
            in hsl shorter hue,
            var(--fg-color) 10%,
            var(--bg-color) 0%
          );
    }
}

header, footer {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            &:not(:first-child)::before {
                content: "—";
                margin-inline: .25rem;
            }
        }
    }
}

header {
    padding-block-start: var(--margin);
}

main {
    font-size: 1rem;
    color: var(--fg-color);
    padding-block-end: var(--margin);
    a {
        text-decoration: underline;
    }
    .title {
        @media (--for-tablet-up) {
            margin-block: var(--margin);
        }
    }
}

.title {
    /* font-size: 1.75rem;
    line-height: 110%; */

    font-size: 1rem;
    font-weight: 500;
    margin: 0;

    @media (--for-tablet-up) {
        margin-block: calc(var(--margin) * 6);
    }
}

.nav {
    @media (--until-mobile) {
        margin-block-start: calc(var(--margin) / 2);
    }
}

.description {
    p {
        &:first-child {
            margin-top: 0;
        }
    }
}