html {
    background-color: var(--bg-color);
    font-weight: 400;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    &:hover {
        color: var(--accent-color-hover);
    }
}

header,
footer {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            &:not(:first-child)::before {
                content: "—";
                margin-inline: .25rem;
            }
        }
    }
}

header,
.description,
.projects {
    @media (--for-mobile-landscape-up) {
        border-inline: 1px solid #dfdbbe;
        /* border-inline: 1px solid color-mix(
            in hsl shorter hue,
            var(--fg-color) 10%,
            var(--bg-color) 0%
        ); */
    }
}

header,
.description,
.projects {
    @media  (--for-mobile-landscape-up) {
        padding-inline: var(--margin);
    }
}

main {
    color: var(--fg-color);
    /* text-wrap: balance; */
    p, ul {
        font-size: 1rem;
        line-height: 155%;
    }
    a {
        text-decoration: underline;
    }
}

.title {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.description {
    p {
        &:first-child {
            @media (--for-mobile-landscape-up) {
                margin-top: 0;
            }
        }
    }
}

.projects {
    @media (--for-desktop-up) {
        border: none;
        padding: 0;
    }
}

