---
lang: gl
url: /
layout: layouts/default.vto
title: Segundo Fdez
---

<div class="description">
    <p>Hola, chámome Segundo Fdez e son deseñador.</p>
    <p>En 2006 xunto a <a href="https://www.nataliacrecente.com" target="_blank">Natalia Crecente</a> e <a href="https://www.dieg0v.com" target="_blank">Diego Vilariño</a> formamos <a href="https://www.sond3.com" target="_blank">Sond3</a> [son de tres], un estudio con sede en Lugo no que seguimos levando a cabo proxectos de comunicación gráfica e produtos dixitais, defendendo un deseño honesto, ético e responsable.</p>
    {{# <p>A lo largo de este tiempo, entre otras cosas, he impartido varias charlas y talleres hablando de <a href="https://www.reticulas.com" target="_blank">retículas</a>, me han invitado a ser jurado en los II premios de comunicación y marketing de Galicia, hemos sido premiados en la <a href="http://www.bid-dimad.org/bid10/" target="_blank">II bienal de diseño iberoamericano Bid 2010</a> en la categoría de diseño digital o en los <a href="https://www.galiciacalidade.gal/es/noticia-detalle/cluster-comunicacion-galicia-premios-paraguas-finalistas-cast" target="_blank">premios Paraguas 2019</a> como finalistas en la categoría de diseño gráfico.</p> #}}
</div>
<section class="projects">
    {{# <h2 class="title">Proyectos</h2>
    <ul>
        <li><a href="https://www.cenlitros.com" target="_blank">Cenlitros</a></li>
        <li><a href="https://www.ameneirosrey.com" target="_blank">Ameneiros Rey</a></li>
        <li><a href="https://www.joealvez.com" target="_blank">Joe Álvez</a></li>
        <li><a href="https://canaletico.cel.es" target="_blank">Canal ético</a></li>
        <li><a href="https://www.reticulas.com" target="_blank">Retículas (en proceso)</a></li>
    </ul> #}}
</section>